<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the home page</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit modi maiores id harum commodi veniam quidem placeat vitae eveniet illo dolorem accusamus earum, similique sapiente, nisi repudiandae? Eveniet, nisi debitis.
        Explicabo eligendi vero dicta et, dolorem ab nemo sit sint quisquam! Soluta cumque saepe ab rerum at pariatur, dolor incidunt quas adipisci asperiores qui voluptatibus provident error cum doloribus voluptatem?
    </p>
    <button>Click me!</button>
</body>
</html>